.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px;
    padding: 0;
    text-align: center;
}
  
.square:focus {
    outline: none;
}

.stateBoard{
    border: 1px solid #999;
    padding-bottom:30px;
}

.board{
    max-width: 300px;
    border: 1px solid #999;
    text-align: center;
}